header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  align-items: center;
  /* height: 3rem; */
}

.logoContainer {
  cursor: pointer;
}

header a {
  width: 200px;
  height: 35px;
  border-radius: 20px;
}

.headerRight a {
color: #176f9c;;
  border: none;
font-size: 17px;
  text-decoration: none;
  text-align: center;
}

.nav-links a {
  color: #176f9c;;
  border: none;
font-size: 17px;
  text-decoration: none;
  text-align: center;
}
.nav-links a:hover {
  background-color: #176f9c;
  color: white;
}


.headerRight a:hover {
  background-color: #176f9c;
  color: white;
}

.headericon {
  /* background-color: #176f9c; */
  padding: 0.5rem 0;
}

.headericon a{
  color: black;
}
.headerRight {
  display: flex;
}
.profileIcon {
  width: 35px;
}
footer {
  background: linear-gradient(to right, #42b97c, #38a9e2);
  padding: 1rem;
  margin-top: 5rem;
  width: 100%;
  /* text-align: center; */
}

footer p {
  margin: 0.5rem 0;
}
.socialMediaContainer img {
  max-width: 50px;
  max-height: 50px;
}

* {
  font-family: "Poppins", sans-serif;
}

/* ============================== */
