header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 3rem;
}

header a {
  width: 200px;
  height: 35px;
  border-radius: 20px;
}

.headerRight a {
  margin: 0 1rem;
  color: white;
  border: none;

  text-decoration: none;
  text-align: center;
}

.headericon {
  background-color: #176f9c;
  padding: 0.5rem 0;
}
.headerRight {
  display: flex;
}
.profileIcon {
  width: 35px;
}
footer {
  background: linear-gradient(to right, #42b97c, #38a9e2);
  padding: 1rem;
  margin-top: 5rem;
  width: 100%;
}

footer p {
  margin: 0.5rem 0;
}
.socialMediaContainer img {
  max-width: 50px;
  max-height: 50px;
}

/* ============================== */
