/* Search Results page */
/* Always set the map height explicitly to define the size of the div */
gmp-map {
  height: 100%;
  width: 80%;
  min-width: 550px;
}

/* Optional: Makes the sample page fill the window */
main {
  height: 100%;
  margin: 24px;
  padding: 0;
}

.mapOuterContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  justify-content: space-between;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 35%;
  border-radius: 8px;
  min-width: 320px;
  margin-right: 20px;
  border: 1px solid grey;
  overflow-y: auto;
  scrollbar-width: none;
}

.asideHeaderContainer {
  display: none;
  position: absolute;
  top: 13.5%;
  background-color: white;
  padding: 20px;
  margin: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.2);
}

.asideHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Makes it clear it's clickable */
}

.asideHeader h2 {
  margin: 0;
  text-align: center;
  color: #333;
  flex-grow: 1; /* Ensures it takes available space */
}

.toggle-icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.asideContent {
  padding: 20px;
  background-color: white;
}

#searchForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#searchForm label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

#searchForm input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

* {
  font-family: "Poppins", sans-serif;
}

#searchForm button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchForm button:hover {
  background-color: #0056b3;
}

/* Parking Spot Cards */
.parking-list {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  gap: 15px;
  margin: 20px 0 20px 0;
}

.parking-spot {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid grey;
  cursor: pointer;

  transition: border 0.8s ease-in-out;
  opacity: 1;
}

.gradient-border {
  border-image: linear-gradient(45deg, #41b97c, #38bae2);
  border-radius: 8px;
  border-image-slice: 1;
  border-width: 3px;
}

.spot-image {
  flex: 2;
  min-width: 80px;
  height: 100%;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 5px;
  background-size: cover;
}

.spot-info {
  flex: 3;
}

.spot-info h3 {
  margin-bottom: 5px;
}

/* Marker Overlay */
.marker-overlay {
  position: absolute;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;
  z-index: 100;
}

.marker-overlay img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.marker-overlay p {
  margin: 4px 0 0;
}

.topBar {
  height: 48px;
  background-color: rgba(175, 175, 175, 0.4);
  border-radius: 5px;
  margin-bottom: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBar i {
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  padding: 16px;
  margin-right: 16px;
  margin-left: 16px;
  cursor: pointer;
}

.logoContainer {
  flex: 2;
}

.headerRight {
  flex: 7;

  .img {
    width: 24px;
  }
}

.headerRight {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  border-radius: 8px;
  position: relative;
}

.searchBoxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 10px;
  position: relative;

  button {
    padding: 0;
    margin: 0;
    background-color: white;

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.searchInputContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.searchInputContainer input {
  padding: 8px;
  font-size: 14px;
  width: 200px;
}

#datetime {
  border: 1px solid;
  padding: 8px;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button img {
  width: 16px;
  height: 16px;
}

button:hover {
  background-color: #0056b3;
}

#logo {
  cursor: pointer;
}

.filter-box {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  display: none;
  z-index: 100;
  padding: 24px;
}

.filter-box label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
}

.filter-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-box li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.filter-box li:last-child {
  border-bottom: none;
}
.filter-box li:hover {
  background-color: #f0f0f0;
}

#filterBoxbtn {
  border: 1px solid #ccc;
  background-color: #248c4a;
  padding: 8px;
  border-radius: 8px;
}

#filterBtn {
  cursor: pointer;
}

/* =----------------------------SearchDetailPage CSS -------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#imageSlider {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  height: 300px;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.next {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}

.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.switch-owner,
.profile-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.image-slider {
  text-align: center;
  position: relative;
  margin: 20px auto;
  width: 60%;
}

.image-slider img {
  width: 100%;
  border-radius: 10px;
}

.next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.parking-details {
  background: #fff;
  padding: 20px;
  margin: 20px auto 20px auto;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: #38a9e2 solid 2px;
  margin-bottom: 20px;
}

.booking input {
  margin-left: 10px;
}

button {
  padding: 10px 15px;
  margin: 10px 5px;
  cursor: pointer;
  border: none;
  background: #2ca058;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #248c4a;
}

footer {
  background: #2ca058;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

/* Suggestions */

#suggestions {
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  background-color: #42b97c;
  width: 80%;
  z-index: 9999;
  top: 55px;
  left: 30px;
  color: white;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
  color: black;
}

.overlayInfo {
  display: flex;
  padding: 4px;
  flex-direction: column;
  gap: 8px;

  span {
    font-weight: bold;
  }
}
