/* Search Results page */
/* Always set the map height explicitly to define the size of the div */
gmp-map {
  height: 100%;
  width: 80%;
  min-width: 550px;
}

/* Optional: Makes the sample page fill the window */
html,
body {
  height: 100%;
  margin: 24px;
  padding: 0;
}

.mapOuterContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  justify-content: space-between;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 35%;
  border-radius: 8px;
  min-width: 320px;
  margin-right: 20px;
  border: 1px solid grey;
  overflow-y: auto;
  scrollbar-width: none;
}

.asideHeaderContainer {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  margin: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.2);
}

.asideHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Makes it clear it's clickable */
}

.asideHeader h2 {
  margin: 0;
  text-align: center;
  color: #333;
  flex-grow: 1; /* Ensures it takes available space */
}

.toggle-icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.asideContent {
  display: none; /* Initially hidden */
  padding: 20px;
  background-color: white;
}

#searchForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#searchForm label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

#searchForm input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

* {
  font-family: "Poppins", sans-serif;
}

#searchForm button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchForm button:hover {
  background-color: #0056b3;
}

/* Parking Spot Cards */
.parking-list {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  gap: 15px;
  margin-top: 20px;
}

.parking-spot {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid grey;
}

.spot-image {
  width: 80px;
  height: 80px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 5px;
}

.spot-info h3 {
  margin-bottom: 5px;
}

/* Marker Overlay */
.marker-overlay {
  position: absolute;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;
  z-index: 100;
}

.marker-overlay img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.marker-overlay p {
  margin: 4px 0 0;
}
