/* Search Results page */
/* Always set the map height explicitly to define the size of the div */
gmp-map {
  height: 100%;
  width: 60%;
  min-width: 550px;
}

/* Optional: Makes the sample page fill the window */
main {
  height: 100%;
  margin: 24px;
  padding: 0;
}

body {
  padding: 0px;
  margin: 0px;
}

.mapOuterContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  justify-content: space-between;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 8px;
  min-width: 320px;
  margin-right: 20px;
  border: 1px solid grey;
  overflow-y: auto;
  scrollbar-width: none;
}

.asideHeaderContainer {
  display: none;
  position: absolute;
  top: 13.5%;
  background-color: white;
  padding: 20px;
  margin: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.2);
}

.asideHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Makes it clear it's clickable */
}

.asideHeader h2 {
  margin: 0;
  text-align: center;
  color: #333;
  flex-grow: 1; /* Ensures it takes available space */
}

.toggle-icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.asideContent {
  padding: 20px;
  background-color: white;
}

#searchForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#searchForm label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

#searchForm input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

* {
  font-family: "Poppins", sans-serif;
}

#searchForm button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchForm button:hover {
  background-color: #0056b3;
}

#searchBtn {
  background-color: #28a745;
}

#searchBtn img {
  width: 16px;
  color: white;
}

/* Parking Spot Cards */
.parking-list {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  gap: 15px;
  margin: 20px 0 20px 0;
}

.parking-spot {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid grey;
  cursor: pointer;

  transition: border 0.3s ease-in-out;
  opacity: 1;
}

.gradient-border {
  border-image: linear-gradient(45deg, #41b97c, #38bae2);
  border-radius: 8px;
  border-image-slice: 1;
  border-width: 3px;
}

.spot-image {
  flex: 2;
  min-width: 80px;
  height: 100%;
  /* background: gray; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 5px;
  background-size: cover;
}

.spot-info {
  flex: 3;
}

.spot-info h3 {
  margin-bottom: 5px;
}

/* Marker Overlay */
.marker-overlay {
  position: absolute;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;
  z-index: 100;
}

.marker-overlay img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.marker-overlay p {
  margin: 4px 0 0;
}

.topBar {
  height: 48px;
  background-color: rgba(175, 175, 175, 0.4);
  border-radius: 5px;
  margin-bottom: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBar i {
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  padding: 16px;
  margin-right: 16px;
  margin-left: 16px;
  cursor: pointer;
}

.logoContainer {
  flex: 2;
}

.headerRight {
  flex: 7;

  .img {
    width: 24px;
  }
}

.headerRight {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  border-radius: 8px;
  position: relative;
}

.searchBoxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 10px;
  position: relative;

  button {
    padding: 0;
    margin: 0;
    background-color: white;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.searchBoxContainer button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.searchBoxContainer button img {
  width: 16px;
  height: 16px;
}

#filterBtn img {
  width: 18px;
  width: 18px;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.searchInputContainer input {
  padding: 8px;
  font-size: 14px;
  width: 200px;
}

#datetime {
  border: 1px solid;
  padding: 8px;
  border-radius: 4px;
}

#logo {
  cursor: pointer;
}

.filter-box {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  display: none;
  z-index: 100;
  padding: 24px;
}

.filter-box label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
}

.filter-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-box li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.filter-box li:last-child {
  border-bottom: none;
}
.filter-box li:hover {
  background-color: #f0f0f0;
}

#filterBoxbtn {
  border: 1px solid #ccc;
  background-color: #248c4a;
  padding: 8px;
  border-radius: 8px;
  color: white;
}

#filterBtn {
  cursor: pointer;
}

/* =----------------------------SearchDetailPage CSS -------------------------------- */

#searchDetailsPage {
  background-color: #f6f7f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#imageSlider {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 400px;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.next {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}

.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.switch-owner,
.profile-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.booking input {
  margin-left: 10px;
}

.parking-spot button {
  padding: 10px 15px;
  margin: 10px 5px;
  cursor: pointer;
  border: none;
  background: #2ca058;
  color: white;
  border-radius: 5px;
}

.parking-spot button:hover {
  background: #248c4a;
}

footer {
  background: #2ca058;
  color: black;
  padding: 10px;
  margin-top: 20px;
}

.price {
  background: #28a745;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.features {
  list-style: none;
  padding: 0;
}

.features li {
  margin: 5px 0;
}

.outerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: auto;
}

#searchDetailsPage main {
  max-width: 1200px;
  margin: auto;
}

.parking-details {
  display: flex;
  justify-content: center;
  min-width: 368px;
}

.image-slider {
  border: 1px solid black;
  border-radius: 8px;
  margin-right: 16px;
  max-width: 400px;
  margin-left: 32px;
}

.image-slider img {
  width: 100%;
}

#back-btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #3abbe3;
  transition: color 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 5px;
}

#back-btn::before {
  content: "←";
  margin-right: 8px;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

#back-btn:hover {
  color: #7d3c98; /* Slightly lighter purple */
}

#back-btn:hover::before {
  transform: translateX(-4px); /* Smooth back animation */
}

#back-btn-header {
  display: none;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #3abbe3;
  transition: color 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 5px;
}

#back-btn-header::before {
  content: "←";
  margin-right: 8px;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

#back-btn-header:hover {
  color: #7d3c98; /* Slightly lighter purple */
}

#back-btn-header:hover::before {
  transform: translateX(-4px); /* Smooth back animation */
}

/* ---------------Specs------------------- */
.price-section {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.daily-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.per-day {
  font-size: 0.8rem;
  color: #666;
  font-weight: normal;
}

.total-price {
  display: block;
  color: #666;
  font-size: 0.9rem;
  margin-top: 4px;
}

.specs-container {
  margin-bottom: 20px;
}

.spec-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.spec-header {
  color: #666;
  font-size: 0.8rem;
  flex: 1;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}

.spec-item {
  flex: 1;
  font-size: 0.8rem;
  color: #333;
}

.description {
  color: #444;
  font-size: 0.8rem;
  margin-bottom: 16px;
  line-height: 1.4;
}

.book-btn {
  display: block;
  background: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  font-size: 16px;
}

.book-btn:hover {
  background: #218838;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 420px;

  h1 {
    margin: 0;
  }
}

.availability-section {
  margin: 8px 0;
  h3 {
    margin: 0;
  }
}

.availability-day {
  color: #444;
  /* font-size: 0.9rem; */
  margin: 8px 0;
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 16px;
  line-height: 1.4;
  text-transform: capitalize;
  padding: 4px;
  border: 1px #444 solid;
  border-radius: 4px;
}

.divider {
  height: 1px;
  background: #eee;
  margin: 4px 0;
}

.subtitle {
  color: #666;
  /* font-size: 0.9rem; */
  margin-bottom: 16px;
  line-height: 1.4;
}

.address-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.copy-btn {
  background: #3aade3;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  color: white;
  transition: all 0.2s;
  margin-left: 12px;
}

.copy-btn:hover {
  background: white;
  color: #3aade3;
  border: 1px solid #3aade3;
}

.copy-btn:active {
  transform: scale(0.95);
}

/* Suggestions */
#suggestions {
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  background-color: #42b97c;
  width: 80%;
  z-index: 9999;
  top: 55px;
  left: 30px;
  color: white;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
  color: black;
}

.overlayInfo {
  display: flex;
  padding: 4px;
  flex-direction: column;
  gap: 8px;

  span {
    font-weight: bold;
  }
}

/* Footer */

footer {
  background: linear-gradient(to right, #42b97c, #38a9e2);
  padding: 1rem;
  /* width: 100vw; */
  margin-top: 32px;
  /* position: sticky;
  bottom: 0; */
}

.socialMediaContainer img {
  max-width: 50px;
  max-height: 50px;
}

.profileIcon {
  width: 35px;
}

.logoContainer {
  cursor: pointer;
}

/* Mobile View  Search Results */
.back-button-searchResult {
  display: none !important;
}

@media (max-width: 768px) {
  html,
  body {
    width: 100%;
  }

  /* Header */

  .logoContainer {
    display: none;
  }

  .back-button-searchResult {
    display: block !important;
    padding: 0 !important;
  }

  #back-btn-header {
    display: inline-block;
  }

  .back-button-details {
    display: none !important;
  }

  header {
    position: sticky;
    top: 0;
    align-items: start;
    a {
      margin-top: 16px;
    }
  }
  .searchBoxContainer {
    flex-direction: column;
  }

  .searchBoxContainer {
    width: 100%;
  }

  .searchInputContainer {
    width: 100%;
  }

  .searchInputContainer input {
    padding: 8px;
    font-size: 14px;
    width: 100%;
  }

  #datetime {
    width: calc(100% - 16px);
    margin: 8px;
  }

  .mapOuterContainer {
    flex-direction: column;
    justify-content: start;
  }

  .sidebar {
    width: 100%;
    margin-top: 16px;
    box-shadow: inset -10px 0 10px rgba(0, 0, 0, 0.2);
  }

  gmp-map {
    order: 1;
    width: 100%;
    min-width: 10px !important;
    height: 50%;
  }

  aside {
    order: 2;
    width: 100%;
  }

  .parking-list {
    flex-direction: row;
  }

  .parking-spot {
    width: 320px;
  }

  .back-button-searchResult {
    padding-inline: 0;
  }

  /* Details Page  */

  .outerContainer {
    flex-direction: column;
    margin-top: 16px;
  }

  .parking-details {
    margin-top: 16px;
  }

  .image-slider {
    margin: auto !important;
  }
}
