* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 3rem;
}

header button {
    width: 200px;
    height: 35px;
    border-radius: 20px;
}

.headerRight button {
    margin: 0 1rem;
    background-color: #176F9C;
    color: white;
    border: none;
}
.headerRight{
    display: flex;
}
.profileIcon{
width: 2rem;
height: 2rem;
}


.searchInputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.searchIcon {
    position: absolute;
    left: 15px; /* Adjust based on your preference */
    pointer-events: none; 
}
.searchIcon  img {
    width: 30px;
}

.searchInputContainer input {
    padding-left: 30px; /* Add some padding to the left so the text doesn’t overlap the icon */
}

.mainSectionContainer {
    max-width: 1000px;
    margin: auto;
}

h1 span {
    color: #42B97C;
}
.instructions h3{
   color: #38A9E2;
}

.mainSectionContainer {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
}

.searchBox form input {
    width: 350px; /* Same width for both inputs */
    height: 50px;
    padding: 0.5rem 2rem 0.5rem 1rem;
    box-sizing: border-box;
}

.searchBox button {
    width: 250px;
    height: 40px;
    background-color: #38A9E2;
    color: white;
    border: none;
}

.searchBox input,
.searchBox button {
    margin: 0.5rem;
    border-radius: 20px;
}

.searchBoxContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    max-width: 1200px;
    margin: 7rem auto ;
}
.instructionsImage{
    border-radius: 10px;
}

h2, h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.instructionsContainer {
    display: flex;
    gap: 10rem;
    justify-content: center;
}

.instructions p {
    text-align: center;
}

footer {
    background: linear-gradient(to right, #42B97C, #38A9E2);
    padding: 1rem;
    text-align: center;
}


