
h1 {
  margin-top: 3rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
}



.bookingCard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.bookingContainer {
  width: 1200px;
  margin: auto;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 370px;
  border-radius: 15px;
}

* {
  font-family: "Poppins", sans-serif;
}


.bookingImage img{
  width: 200px;
  height: 150px;
border-radius: 10px;
}

.sortControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}


.mainSection p{
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: lighter;
}




@media (min-width: 769px) {
  .hamburger-menu {
    display: none; /* Hide hamburger menu on larger screens */
  }

  
}

@media (max-width: 769px) {
  .bookingContainer {
    max-width: 450px;
    margin: 0 auto;
    padding: 10px;
  }

  .bookingCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .bookingImage img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }

  .bookingInfo {
    font-size: 14px;
    flex: 1;
  }

  .bookingInfo h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .bookingInfo p {
    margin: 2px 0;
    line-height: 1.2;
  }
}

