* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin-top: 3rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.bookingCard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: lightgrey;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}
.bookingContainer {
  width: 1200px;
  background-color: grey;
  margin: auto;
  padding: 1rem;
}

* {
  font-family: "Poppins", sans-serif;
}
