* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin-top: 3rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
}



.bookingCard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}
.bookingContainer {
  width: 1200px;
  margin: auto;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

* {
  font-family: "Poppins", sans-serif;
}


.bookingImage img{
  width: 250px;
  height: 150px;

}