/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center; 
  margin-bottom: 3rem;
}
h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.settingsContainer {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  margin: auto;
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
}

.save-btn {
  background-color: #28a745;
  color: white;
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
}

/* Mobile View (Vertical layout) */
@media (max-width: 768px) {
  .settingsContainer {
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .settingsWrapper {
    display: block; /* Stack the forms vertically on mobile */
    margin-top: 20px;

  }
}

/* Desktop View (Side by side layout) */
@media (min-width: 769px) {
  .settingsWrapper {
    display: flex;
    justify-content: space-between; /* Create space between the forms */
    gap: 5px;
  }

  .settingsContainer {
    width: 48%; /* Each form container will take 48% of the space */
  }
}
