/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center; 
  margin-bottom: 3rem;
}
h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.settingsContainer {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  margin: auto;
  margin-bottom: 2rem;
}

.logOutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Optional: Add spacing above the button */
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn , #changePasswordBtn {
  background-color: #007bff;
  color: white;
}

.edit-btn:hover, #changePasswordBtn:hover {
  background-color: green;
}

.save-btn {
  background-color: #28a745;
  color: white;
  display: none;
}

#savePasswordBtn{
  background-color: #007bff;
  color: white;
  margin-top: 1rem;
}

#savePasswordBtn:hover {
  background-color: green;
  color: white;
}

* {
  font-family: "Poppins", sans-serif;
}

#logoutBtn , #cancelPasswordBtn {
  background-color: red;
  color: white;
 }
 #logoutBtn:hover , #cancelPasswordBtn:hover  {
  background-color: green;
 }


 #togglePasswordIcon {
  position: absolute;
  left: 60%;
  top: 71.5%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  z-index: 10;
}

#togglePasswordIcon:hover {
  color: #333;
}

#signupPassword {
  padding-right: 40px; /* Ensure there is enough space for the icon */
  position: relative;
}

#toggleConfirmPasswordIcon {
  position: absolute;
  left: 60%; /* Adjust the position based on your design */
  top: 80%; /* Adjust to match the signin field */
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  z-index: 10;
}

#toggleSignupPasswordIcon:hover {
  color: #333;
}

 



